.headerContainer {
  height: 70px;
  background: rgba(28, 43, 53, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
}

.navItems a {
  /* display: flex; */
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
